<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Listado de vacunas</title>
</head>
<body>
<div th:switch="${vacuna.id}">
	<h1 th:case="null">Nueva vacuna</h1>
	<h1 th:case="*">Editando vacuna</h1>
</div>
<form th:action="@{/vacuna/save}" method="post" th:object="${vacuna}">
	<input type="hidden" id="id" th:field="*{id}">
	
	
	<div>
		<label for="id">Id</label>
		<input type="text" id="id" th:field="*{id}">
	</div>
	<div>
		<label for="marca">Marca</label>
		<input type="text" id="marca" th:field="*{marca}">
	</div>
	
	<div>
		<label for="dosisenstock">Dosis</label>
		<input type="text" id="dosisenstock" th:field="*{dosisenstock}">
	</div>
	<div>
		<input type="submit" value="Enviar">
	</div>
</form>
</body>
</html>