<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Listado de pacientes</title>
</head>
	<h1 th:text="${usuario}"></h1>
	
		<div>
			<label for="nombre">Nombre</label>
			<span th:text="${usuario.nombre}"></span>
		</div>
		<div>
			<label for="calle">calle</label>
			<span th:text="${usuario.calle}"></span>
		</div>
		<div>
			<label for="sexo">sexo</label>
			<sapn th:text="${usuario.sexo}"></span>
		</div>
		<div>
			<label for="municipio">municipio</label>
			<span th:text="${usuario.municipio}"></span>
		</div>
		<div>
			<label for="email">email</label>
			<span th:text="${usuario.email}"></span>
		</div>
		<div>
			<label for="contrasenya">contrasenya</label>
			<span th:text="${usuario.contrasenya}"></span>
		</div>
		<div>
			<label for="edad">edad</label>
			<span th:text="${usuario.edad}"></span>
		</div>
		<div>
			<label for="telefono">telefono</label>
			<span th:text="${usuario.telefono}"></span>
		</div>
		<div>
			<label for="codigoPostal">codigoPostal</label>
			<span th:text="${usuario.codigoPostal}"></span>
		</div>
		<div>
			<label for="estaVacunado">estaVacunado</label>
			<span th:text="${usuario.estaVacunado}"></span>
		</div>
		<div>
			<label for="fechaDeNacimiento">fechaDeNacimiento</label>
			<span th:text="${#dates.format(usuario.fechaDeNacimiento, 'dd-MM-yyyy')}"></span>
		</div>
		<div>
			<span>Usuarios</span>
		</div>
		
	
</body>
</html>