<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="referrer" content="always">
	<title>Consultas médicas</title>

	<link rel="stylesheet" href="/css/styles.css" th.href="@{/css/styles.css}">


</head>

<body class=" body-portada">
<div class="container  ">

	<input type="hidden" name="frm-header" value="frm-header">

	<div class=" cabecera-camarada header ">


		<div class="row u-w-90 hd-cs">

			<div class="eight columns u-relative">
				<a id="ImgConsejeriaDeSalud" name="ImgConsejeriaDeSalud" href="#"
				   title="Acceder al portal del Servicio Andaluz de Salud" target="_blank"
				   class="logo-consejeria bx-hd ">
				</a>

				<a id="LnkClicSaludPlusHome" name="LnkClicSaludPlusHome" href="#"
				   class="logo-clicSalud bx-hd logado " tabindex="2.html" title="ClicSalud+">
					<span class="pre">VaC</span>
					<span class="post">heck <i class="fas  fa-syringe"></i></span>
				</a>

			</div>

			<div class="four columns">
				<div class="usuarioLogado bx-hd">
                        <span class="usuario-logado" title="Identificado con certificado">

                            Usuario Conectado
                        </span><input id="ButtonCierreSesion" type="submit" name="ButtonCierreSesion" value=""
									  tabindex="3" title="Cerrar sesión" class="bt-cierreSesion">
				</div>
			</div>
		</div>

		<div class="content ">

			<div class="row u-w-90 ">
				<div id="bloque-messages-user" class="bx-mensajes "></div>
			</div>

			<div class="row bx-fb bx-general ">
				<div class="eleven columns">

					<!-- COMIENZO -->

					<div th:switch="${cita.IdCita}">
						<h1 th:case="null">Nueva cita</h1>
						<h1 th:case="*">Editando cita</h1>
					</div>
					<form th:action="@{/citamedica/save}" method="post" th:object="${cita}">
						<input type="hidden" id="IdCita" th:field="*{IdCita}">
						<div>
							<label for="fechaCita"> Fecha de la cita</label>
							<input type="date" id="fechaCita" th:field="*{fechaCita}">
						</div>
						<div>
							<label for="hospitalAsignado"> Hospital para asignar</label>
							<input type="text" id="hospitalAsignado" th:field="*{hospitalAsignado}">
						</div>
						<div>
							<input type="submit" value="Enviar">
						</div>
					</form>

					<!-- TERMINO -->
				</div>
			</div>









</body>





</html>