<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>Listado de sanitarios</title>
</head>
	<h1 th:text="${paciente}"></h1>

		<div>
			<label for="id">Id Sanitario</label>
			<span th:text="${Sanitario.id}"></span>
		</div>
		<div>
			<label for="nombre">Nombre del sanitario</label>
			<span th:text="${sanitario.nombre}"></span>
		</div>
		<div>
			<label for="apellido">Apellido del sanitario</label>
			<span th:text="${sanitario.apellido}"></span>
		</div>		
	
</body>
</html>
