<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>Listado de pacientes</title>
</head>
<body>

	<a th:href="@{/paciente/add}">Crear nueva persona </a>
	<table>
		<thead>
			<tr><td>Nombre</td><td>Apellido</td><td>Id</td><td>Ha fallecido</td></tr>
		</thead>
		<tbody>
			<tr th:each="p : ${listaPaciente}">
				<td th:text="${p.nombre}"></td>
				<td th:text="${p.apellido}" ></td>
				<td th:text="${p.id}"></td>
				<td th:text="${p.HaFallecido}" ></td>
				<td ><a th:href="@{/paciente/view/{id}(id=${p.id})}">Ver  </a><a th:href="@{/paciente/edit/{id}(id=${p.id})}">editar </a><a th:href="@{/paciente/delete/{id}(id=${p.id})}">Borrar</a></td>
			</tr>
		</tbody>
		
	</table>
</body>
</html>